.detail-section {
    display: grid;
    padding-top: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    place-content: center;
}

.reveal-type {
    font-size: 1.6rem;
    text-align: justify;
    white-space: wrap;
    line-height: 1.4;
    font-family: 'Roboto';
}

@media only screen and (max-width:700px) {
    section p {
        font-size: 1.2rem;
        line-height: 1.3;
    }

}