section {
    display: grid;
    padding: 1rem 16px;
    place-content: center;
}

section p {
    margin: 0;
    font-size: 1.7rem;
    text-align: justify;
    white-space: wrap;
    line-height: 1.4;
}

@media only screen and (max-width:700px) {
    section p {
        font-size: 1.25rem;
        line-height: 1.2;
    }

}