@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;}
html{
    scroll-behavior: smooth;
}
a{
    color: #f1f1f1;
}
.Maitlink{
    color:#005f69;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about .about-content,
.education .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    
}

/* navbar styling */
.navbar{
    position:fixed;
    height: 90px;
    width: 100%;
    z-index: 1;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 25px 0;
    background: #005f69;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #f1f1f1;
    font-size: 22px;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #005f69;
}
.navbar.sticky .menu li a:hover{
    color: #f1f1f1;
}

/* menu btn styling */
.menu{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    display: none;
    font-weight: bold;
}
.home{
    display: flex;
    background: url("./bg.jpg") no-repeat center;
    height: 100vh;
    color: #f1f1f1;
    min-height:600px;
    background-size: cover;
    background-attachment: fixed;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 35px;
}
.home .home-content .text-2{
    font-size: 80px;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #005f69;
    font-weight: 00;
}
.home .home-content a{
    display: inline-block;
    background: #005f69;
    color: #f1f1f1;
    font-size: 28px;
    padding: 8px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #005f69;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #005f69;
    background: none;
}
.about .about-content .left{
    width: 35%;
}
.about .about-content .left img{
    height: 430px;
    width: 380px;
    object-fit:cover;
    border-radius: 6px;
}
.imgwrap .overlay {
    position:relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    left: 0px;
    top: 0px;
    width: 380px;
    border-radius: 8px;
    background-color: #005f69 ;
    opacity: 0;
    height: 100%;
    place-items: center;
    transition: all 0.6s;
}
.overlay h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
}
.imgwrap:hover::before {
    width: 100%;
}
.imgwrap:hover .overlay {
    opacity: 0.9;
}
.about .about-content .right{
    width: 60%;
}
.about .about-content .right .text{
    font-size: 38px;
    margin-bottom: 12px;
}
.about .about-content .right .text span{
    color: #005f69c0;
}
.about .about-content .right p{
    text-align: justify;
}
p{
    font-size: 22px;
}
#education{
    background: url(./bg4.jpg)no-repeat center/cover;
    background-position: bottom;
}
#services{
    background: url(./bg3.jpg)no-repeat center/cover;
}
.education, .teams{
    color:#111;
    background:#005f69c0;
;
}
.education .serv-content .card{
    width: calc(33% - 20px);
    background: #fdfbdc;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.education .serv-content .card:hover{
    background: #005f69;
}
.education .serv-content .card .box{
    transition: all 0.3s ease;
}
.education .serv-content .card:hover .box{
    transform: scale(1.05);
}
.education .serv-content .card i{
    display: block;
    padding-bottom: 8px;
    font-size: 55px;
    color: #005f69;
    transition: color 0.3s ease;
}
.education .serv-content .card:hover i{
    color: #f1f1f1;
}
.education .serv-content .card .text{
    font-size: 30px;
    padding-bottom: 8px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .skills-content .column{
    width: calc(50% - 50px);
}
.skills .skills-content .left .text{
    font-size: 38px;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 26px;
}
.skills .skills-content .right .line{
    height: 7px;
    width: 100%;
    background: rgb(193, 192, 192);
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #005f69;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 80%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.contact .contact-content .column{
    width: calc(50% - 50px);
}
.contact .contact-content .text{
    font-size: 26px;
    margin-bottom: 8px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 20px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 55px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 35px;
    margin-top: 15px;
    color: #005f69;
}
.contact .contact-content .info .sub-title{
    font-size: 30px;
    color: #005f69;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 27px;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #000000;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #f1f1f1;
  display: block;
  width: 200px;
  height: 45px;
  outline: none;
  font-size: 23px;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #005f69;
  border: 2px solid black;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #005f69;
  background: none;
}
footer{
    background: #005f69c0;
    padding: 15px 23px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .overlay{
        max-width: 353px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display:block;
        z-index : 1;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column .imgwrap{
        width: 100%;
    }
    .about .about-content .left .overlay {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .education .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .overlay{
        max-width: 353px;
    }
    .education .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .overlay{
        max-width: 353px;
    }
}
