.subheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    text-align: center;
    border-bottom: 4px solid rgb(33, 150, 243);
    font-weight: 600;
    margin-bottom: 1rem;
}