* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #050505;
    color: #fff;
}

.CerSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0;
    height: auto;
}
.AboutSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 6rem 0;
}
.HomeSection{
    max-width: 1300px;
    margin: 0 auto;
    padding: 6rem 0;

}
.ProjectSection {
    max-width: 1300px;
    margin: 0 auto;
}
