* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        background-color: #010101;
        border-radius: 0px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        background-color: #050505;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #212121;
    }
}

.app {
    background-color: #050505;
    color: #fff;
}

.CerSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0;
    height: auto;
}
.AboutSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 6rem 0;
}
.HomeSection{
    max-width: 1300px;
    margin: 0 auto;
    padding: 6rem 0;

}
.ProjectSection {
    max-width: 1300px;
    margin: 0 auto;
}
