* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #050505;
    color: #fff;
}

.CerSection {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
}
.AboutSection {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
}
.HomeSection{
    max-width: 1300px;
    margin: 0 auto;
    height: 100vh;
}
.ProjectSection {
    max-width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width:1000px){
    .CerSection {
        padding: 6rem 0;
        min-height:0;
        height: auto;
    }
    .AboutSection {
        padding: 6rem 0;
        min-height:0;
        height: auto;
    }
    .HomeSection{
        padding: 6rem 0;
        min-height:0;
        height: auto;
    }
}
